@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:500,700|Raleway:700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
* {
  font-family: "Noto Sans TC", Roboto, Microsoft JhengHei, sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #393939;
}

[v-cloak] {
  visibility: hidden !important;
}

body {
  background: #f9f9f9;
}
body.lock {
  height: 100%;
  overflow: hidden;
}

.strong {
  color: red;
  font-weight: bold;
}

.text-en {
  font-family: "Montserrat";
}

.italic {
  font-style: italic;
}

img {
  display: block;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  box-shadow: 0px 1px 10px 3px #c0bdbd;
  text-align: right;
  padding-right: 24px;
  z-index: 20;
}
header .headerNavs {
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
}
header .headerNavs:hover .navbottom {
  background: #f9f9f9;
}
header .headerNavs .headerNav {
  width: 105px;
  padding: 16px 0;
  text-align: center;
  cursor: pointer;
}
header .headerNavs .headerNav:hover {
  background: #ad8a8a;
  color: #f9f9f9;
}
header .headerNavs .navbottom {
  position: absolute;
  width: 93px;
  bottom: 8px;
  height: 2px;
  background: #ad8a8a;
  left: 6px;
  transition: left 0.3s ease;
}
header .headerNavs .navbottom.middle {
  left: 111px;
}
header .headerNavs .navbottom.right {
  left: 216px;
}

#about {
  padding: 24px;
}
#about .profile {
  background: white;
  padding: 30px 100px;
  white-space: pre-wrap;
  font-size: 20px;
  text-align: center;
  box-shadow: 1px 1px 10px 3px #dad9d9;
  letter-spacing: 4px;
}
@media only screen and (max-width: 992px) {
  #about .profile {
    font-size: 16px;
    letter-spacing: 3px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 264px;
    align-content: center;
  }
}

#projects {
  background: #f5f5f5;
  padding: 24px 40px;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  #projects {
    padding: 16px 24px;
  }
}
#projects .myTitle {
  font-size: 24px;
  margin-bottom: 30px;
}
#projects .myTitle .text-en {
  font-size: 12px;
  color: #deac9c;
}
#projects .swiperLayout {
  margin-bottom: 80px;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout {
    margin-bottom: 60px;
  }
}
#projects .swiperLayout .swiperType {
  text-align: left;
  font-size: 18px;
  margin-bottom: 16px;
}
#projects .swiperLayout .swiperFrame {
  position: relative;
}
#projects .swiperLayout .projectSwiper {
  position: unset;
}
#projects .swiperLayout .swiper-slide {
  height: calc((100vw - 120px) / 6);
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout .swiper-slide {
    height: calc((100vw - 48px) / 2);
  }
}
#projects .swiperLayout .swiper-slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#projects .swiperLayout .swiper-pagination {
  bottom: calc(100% + 22px);
  width: 60px;
  text-align: center;
  left: auto;
  right: 50px;
  color: #deac9c;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout .swiper-pagination {
    font-size: 14px;
    width: 55px;
    right: 32px;
    bottom: calc(100% + 16px);
  }
}
#projects .swiperLayout .swiper-button-next, #projects .swiperLayout .swiper-button-prev {
  top: auto;
  bottom: calc(100% + 12px);
  color: #deac9c;
  width: 48px;
  height: 48px;
  border: 1px solid #deac9c;
  border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout .swiper-button-next, #projects .swiperLayout .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}
#projects .swiperLayout .swiper-button-next::after, #projects .swiperLayout .swiper-button-prev::after {
  font-size: 20px;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout .swiper-button-next::after, #projects .swiperLayout .swiper-button-prev::after {
    font-size: 12px;
  }
}
#projects .swiperLayout .swiper-button-prev {
  left: auto;
  right: 112px;
}
@media only screen and (max-width: 992px) {
  #projects .swiperLayout .swiper-button-prev {
    right: 88px;
  }
}
#projects .swiperLayout .swiper-button-next {
  left: auto;
  right: 0;
}

.cardImg {
  width: 100%;
  height: 400px;
  max-width: 90vw;
  max-height: 45vw;
  background: white;
  margin-bottom: 16px;
  position: relative;
}
.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardImg .prevBtn, .cardImg .nextBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 1px 1px 10px 3px #eee9e9;
  cursor: pointer;
  background: #f9f9f9;
  opacity: 0.8;
}
.cardImg .prevBtn:hover, .cardImg .nextBtn:hover {
  opacity: 1;
}
.cardImg .prevBtn {
  left: 20px;
}
.cardImg .nextBtn {
  right: 20px;
}

#contact {
  background: #f9f9f9;
  padding: 24px 40px 120px 24px;
  text-align: center;
}
#contact .myTitle {
  font-size: 24px;
  margin-bottom: 30px;
}
#contact .myTitle .text-en {
  font-size: 12px;
  color: #deac9c;
}
#contact .formLayout {
  width: 500px;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  #contact .formLayout {
    width: 90%;
  }
}

.loading-page {
  position: fixed;
  z-index: 1600;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.loading-page .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loading-page .sk-circle {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.loading-page .sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.loading-page .sk-circle .sk-child::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circlebouncedelay 1.2s infinite ease-in-out both;
  animation: sk-circlebouncedelay 1.2s infinite ease-in-out both;
}
.loading-page .sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.loading-page .sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.loading-page .sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.loading-page .sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.loading-page .sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.loading-page .sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.loading-page .sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.loading-page .sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.loading-page .sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.loading-page .sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.loading-page .sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.loading-page .sk-circle .sk-circle2::before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loading-page .sk-circle .sk-circle3::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.loading-page .sk-circle .sk-circle4::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loading-page .sk-circle .sk-circle5::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.loading-page .sk-circle .sk-circle6::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.loading-page .sk-circle .sk-circle7::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.loading-page .sk-circle .sk-circle8::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loading-page .sk-circle .sk-circle9::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.loading-page .sk-circle .sk-circle10::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.loading-page .sk-circle .sk-circle11::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loading-page .sk-circle .sk-circle12::before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circlebouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circlebouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
